<!-- index website page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <%- include("partials/head") %>
</head>
<body class="index-body">
    
    <%- include("partials/navegation") %>
    <main class="index-main">
        <article class="index-article">
            <section class="index-section index-main-title">
                <h1><%= title %></h1>
            </section>
            <section class="index-section">
                <div class="index-img-container">
                    <a href="/about">
                        <img src="/imgs/js-logo.png" alt="javaScript programming language logo">
                    </a>
                </div>
            </section>
            <section class="index-section index-last-section">
                <div class="index-text-container">
                    <div class="index-text">
                        <h1>Introduccion a JavaScript</h1>
                        <h2>- ¿Que es JavaScript?</h2>
                        <p>
                            JavaScript es un lenguaje de programacion interpretado orientado a objetos y de bajo y con programacion de alto orden.
                        </p>
                    </div>
                    <div class="index-text">
                        <h2>- Lenguaje interpretado</h2>
                        <p>
                            Los lenguajes de programacion interpretados, son muy sencillos de entender por personas pero muy dificiles para las maquinas. Los lenguajes de programacion interpretados o de alto nivel, requieren de un interprete que sintetice el lenguaje para el entendimiento de la maquina en cuestion. JavaScript es interpretado en el navegador de cliente por el motor v8 de google, y es ejecutado en sistema operativo del mismo cliente.
                        </p>
                    </div>
                    <div class="index-text">
                        <h2>- Orientado a objetos</h2>
                        <p>
                            Un lengauje de programacion orientado a objetos o por sus siglas en Ingles (oop), es un lenguaje de programacion que cumple con uno de los principales pilares de la programacion orientada a objetos, la abstraccion. Los lenguajes de programacion con abstraccion, disponen de clases para automatizar la creacion de objetos y ver de forma mas concisa cada uno de los atributos que definen un objeto.
                        </p>
                    </div>
                </div>
            </section>
        </article>
    </main>    
    <%- include("partials/footer") %>

</body>
</html>